<%= form_for(@logo, :url => url) do |f| %>
  <%= f.error_messages %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :active %><br />
    <%= f.select :active, [["No", 0], ["Yes", 1]] %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
