<p>Logo: <%= image_tag @bar.logo.url(:thumb) %></p>
<p>Name: <%=h @bar.name %></p>
<p>Email: <%=h @bar.email %></p>
<p>Phone Number: <%=h @bar.phone_number %></p>
<p>Address: <%=h @bar.address %></p>
<p>Zip Code: <%=h @bar.zip_code %></p>
<p>City: <%=h @bar.city %></p>
<p>State: <%=  @bar.state %></p>
<p>Country: <%= @bar.country %></p>