
<%= form_tag invite_friends_path do  %>
  <% friends.each_with_index do |f, index| %>
    <%= check_box_tag("friends[]", value = "#{f["id"]}",  false, options = {})  %><%=  f["name"] %> <br />
   
  <% end %>
   <%= submit_tag "submit" %>
<% end %>

<div id="fb-root"></div>
<a href="#" id="invite_fb_friends">Invite your friends</a>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  $(function(){
    $("a#invite_fb_friends").click(function(){
      FB.init({
        appId: '277531728941437',
        status: true,
        cookie: false,
        // xfbml: true
      });
      FB.ui({
        method: 'apprequests',
        message: '<%=current_user.name %> has invite you to SwigBig'});
    });
  });
</script>