<p>Avatar: <%= image_tag @user.avatar.url(:thumb) %></p>
<p>Name: <%=h @user.name %></p>
<p>Email: <%=h @user.email %></p>
<p>Phone Number: <%=h @user.phone_number %></p>
<p>Address: <%=h @user.address %></p>
<p>Zip Code: <%=h @user.zip_code %></p>
<p>City: <%=h @user.city %></p>
<p>State: <%=  @user.state %></p>
<p>Country: <%= @user.country %></p>