<div class="user">
  <h2>User</h2>
  <p><%= link_to "Sign In", new_user_session_path %> | 
    <%= link_to "Sign Up", new_user_registration_path %></p>
  <h2>Bar</h2>
  <p><%= link_to "Sign In", new_bar_session_path %> | 
    <%= link_to "Sign Up", new_bar_registration_path %></p>
  <h2>Admin</h2>
  <p><%= link_to "Sign In", new_admin_session_path %></p>
</div>