<h1>Listing Bars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Completed</th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%=h bar.name %></td>
    <td><%=h bar.email %></td>
    <td><%= bar.active? ? "Yes" : "No" %></td>
    <td><%= link_to 'Show', admins_bar_path(bar) %> |
    <%= link_to 'Edit', edit_admins_bar_path(bar) %> |
    <%= link_to 'Destroy', admins_bar_path(bar), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar', new_admins_bar_path %>
