<%= form_for(@coupon, :url => url) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :expire_date %><br />
    <%= f.date_select :expire_date, {:start_year => Date.today.year} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
