<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Subject:</b>
  <%= @contact.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @contact.content %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
