<div style="float: left;width: 100%;">
  <div style="float: left;width: 20%;">
    <h1><%= @bar.name %></h1>
    <div style="float: left; width: 100%;">
      <h3>Bar Information</h3>
      <div style="float: left; width: 100%;">
        Name:<%= @bar.name %>
      </div>
      <div style="float: left; width: 100%;">
        Address:<%= @bar.address %>

      </div>
      <div style="float: left; width: 100%;">

        Phone Number<%= @bar.phone_number%>
      </div>
      <div style="float: left; width: 100%;">
        Website:<%= "website"%>

      </div>
      <div style="float: left; width: 100%;">
        Social Media Page:<%= "Social Media page"%>

      </div>
    </div>
    <div style="float: left; width: 100%;">
      <h3>Rewards</h3>
      <div style="float: left; width: 100%;">
        <h3>Loyalty</h3>
        <%@bar.bar_rewards.each do |bar_reward|%>
          <%if bar_reward.reward.reward_class.name == "Loyalty" %>
            <div style="float: left; width: 100%;">
              <%= bar_reward.reward.name %>
            </div>
          <%end%>
        <%end%>
      </div>
      <div style="float: left; width: 100%;">
        <h3> popularity</h3>
        <%@bar.bar_rewards.each do |bar_reward|%>
          <%if bar_reward.reward.reward_class.name == "Popularity" %>
            <div style="float: left; width: 100%;">
              <%= bar_reward.reward.name %>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
  <div style="float: left;width: 60%;margin-left: 3%;">
    <div style="width:100%;border: 1px solid black;">
      <div>
        <%= link_to "Monday", "/find_deals?day=1&user=true&id=#{@bar.id}", :remote => true %>
        <%= link_to "Tuesday", "/find_deals?day=2&user=true&id=#{@bar.id}", :remote => true %>
        <%= link_to "Wednesday", "/find_deals?day=3&user=true&id=#{@bar.id}", :remote => true %>
        <%= link_to "Thursday", "/find_deals?day=4&user=true&id=#{@bar.id}", :remote => true %>
        <%= link_to "Friday","/find_deals?day=5&user=true&id=#{@bar.id}", :remote => true %>
        <%= link_to "Saturday", "/find_deals?day=6&user=true&id=#{@bar.id}", :remote => true %>
        <%= link_to "Sunday", "/find_deals?day=7&user=true&id=#{@bar.id}", :remote => true %>
      </div>
      <div id="data">
        <%=render :partial => "/bar/find_deals"%>
      </div>
    </div>
  </div>
  <div style="float: left;width: 16%;margin-left: 1%;">
    <div style="float: left;width:100%">
      <h3>Total Swigs Today:</h3>
      <p style="float: left;height:40px;width:100%;margin-left: 2px;">
        100
      </p>
    </div>
    <div style="float: left;width:100%">
      <h3><%=@bar.name%> Swiggers</h3>
      <%(0..7).each do |a|%>
        <p style="float: left;height:40px;width:44%;border: 1px solid black;margin-left: 2px;">
          <%= a %>
        </p>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.side-column').hide();
</script>