<%= form_for(@slogan, :url => url) do |f| %>
  <% if @slogan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slogan.errors.count, "error") %> prohibited this slogan from being saved:</h2>

      <ul>
      <% @slogan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :active %><br />
    <%= f.select :active, [["No", 0], ["Yes", 1]] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
