<p><%= link_to "Generate QRCode", bars_generate_qrcode_path %></p>
<p>
  <%= link_to image_tag("/images/generate_poster_1.png", :width => 180, :height => 200), bars_generate_qrcode_poster_1_path %>
  <%= link_to image_tag("/images/generate_poster_2.png", :width => 180, :height => 200), bars_generate_qrcode_poster_2_path %>
  <%= link_to image_tag("/images/generate_poster_3.png", :width => 180, :height => 200), bars_generate_qrcode_poster_3_path %></p>
<p><%#= link_to "Generate QRCode", "/bars/settings/generate" %>
</p>
<p><%= link_to "Credit Card", bars_credit_cards_path %></p>
